//===================================================================
//  MAIN
//===================================================================

.main {
  padding-bottom: 120px;
}
.productlistimage {
    background-size: 100% auto !important;
    background-position:center center !important;
    background-repeat : no-repeat;
}
.imageupload input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.imageupload {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.imageupload > div{
	background-size:100% auto !important;
    background-position:center center !important;
    background-repeat : no-repeat;
}
.error{
	position: relative;
	bottom: 2px; 
	font-size: 
	12px; 
	line-height: 12px; 
	color: rgb(244, 67, 54); 
	margin-top:5px;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.footerAction {
    position: fixed;
    bottom: 0;
    background: #fff;
    text-align: center;
    left: 0;
    right: 0;
    border-top: 1px solid rgb(224, 224, 224);
}
.loader {
    display: block;
    min-width: 100%;
    text-align: center;
    padding: 50px;
}